@{
    ViewData["Title"] = "Services";
    var list = (List<AllService>) ViewData["List"];
}

<h1 class="display-1">Услуги</h1>

<TABLE border="1" class="table table-striped">
    <TR>
        <TH>Название услуги</TH>
        <TH>Описание</TH>
        <TH>Цена</TH>
    </TR>

@foreach (var item in list)
    {
    <TR>
        <TD>@item.Name</TD>
        <TD>@item.Description</TD>
        <TD>@item.Cost</TD>
    </TR>
    }

</TABLE>
