@{
    ViewData["Title"] = "Employees";
    var list = (List<Employee>) ViewData["List"];
}

<h1>Сотрудники</h1>

<TABLE border="1">
    <TR>
        <TH>Имя</TH>
        <TH>Дата рождения</TH>
        <TH>Должность</TH>
    </TR>

@foreach (var item in list)
    {
    <TR>
        <TD>@item.Name</TD>
        <TD>@DateOnly.FromDateTime((DateTime)item.Bithdate)</TD>
        <TD>@item.Position</TD>
    </TR>
    }

</TABLE>
