@{
    ViewData["Title"] = "Marriage Agency";
}

<div class="text-center">
    <h1 class="display-4">
        Добро пожаловать в наше брачное агентство!
    </h1>
    <p>
        Мы - профессиональная команда, посвятившая себя созданию счастливых и долгосрочных союзов. В нашем брачном агентстве мы осознаем, что нахождение идеального партнера для брака может быть сложным и иногда запутанным процессом. Поэтому мы здесь, чтобы помочь вам найти свою вторую половинку и создать прочную и счастливую семью.
    </p>
</div>
